# Node.js
node_modules/
dist/
build/
.next/
.react-router/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
package-lock.json

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
